.brand {
    padding: 0 0 120px;
    position: relative;
    z-index: 1;
  }
  .brand .shap {
    position: absolute;
    top: -750px;
    left: 20%;
    z-index: -1;
  }
  .brand .brand-box {
    display: flex;
    justify-content: space-between;
    border: 3px solid var(--brand);
    align-items: center;
    padding: 70px 73px;
    border-radius: 15px;
  }
  .brand .brand-box .item {
    position: relative;
  }
  .brand .brand-box .item::after {
    content: "";
    width: 3px;
    height: 100%;
    background-color: var(--brand);
    position: absolute;
    top: 0;
    right: -40%;
  }
  .brand .brand-box .item:last-child:after {
    display: none;
  }