.banner {
    background: url("../images/bannerbg.png") no-repeat center;
    background-size: cover;
  }
  .banner .bnr-box {
    padding: 257px 0 199px;
    margin-left: 242px;
  }
  .banner .bnr-box h1 {
    font-weight: 700;
    font-size: 89px;
    color: var(--white);
    text-transform: uppercase;
  }
  .banner .bnr-box h1 span {
    display: block;
  }
  .banner .bnr-box .bnr-line {
    font-size: 20px;
    color: var(--white);
    width: 88%;
    line-height: 35px;
    margin-top: 24px;
  }

  
  